<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="id" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Warehouse_form_edit" 
        service="Warehouse" 
        entity="Warehouse" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-integer-input #id attr="id" label=" id*" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-text-input #location attr="location" label="location" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="WAREHOUSEPART-warehouse_id">
    <div layout-padding>
      <o-table 
        attr="WarehousePartTable" 
        service="WarehousePart" 
        entity="WarehousePart" 
        keys="id"
        parent-keys="warehouse_id:id"
        columns="id;part_id;warehouse_id;quantity"  
        horizontal-scroll="yes"
        detail-form-route="WarehousePart" 
        edit-form-route="WarehousePart"
        visible-columns="id;part_id;warehouse_id;quantity"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="part_id" title="part_id">
    <o-table-cell-renderer-service attr="part_id" 
        service="Part" entity="PartType" columns="id;name"
        parent-keys="id:part_id"
        value-column="name" keys="part_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="warehouse_id" title="warehouse_id">
    <o-table-cell-renderer-service attr="warehouse_id" 
        service="Warehouse" entity="WarehouseType" columns="id;id"
        parent-keys="id:warehouse_id"
        value-column="id" keys="warehouse_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #quantity attr="quantity" title="quantity" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>